<script src="../scripts/header.js"></script>
<header class="main-header">
	<div class="logo">
		<div class="logo-head">Bistro Onyxe</div>
		<div class="logo-subtitle">Italian Fine Dining</div>
	</div>
	<nav class="main-header__nav">
		<ul class="main-header__nav-items">
			<li class="main-header__nav-item">
				<a href="../index.html">Home</a>
			</li>
			<li class="main-header__nav-item">
				<a href="../menu.html">Menu</a>
			</li>
			<li class="main-header__nav-item">
				<a href="../about.html">About</a>
			</li>
			<li class="main-header__nav-item">
				<a href="../make_reservation.html">Make Reservation</a>
			</li>
		</ul>
	</nav>
	<a class="main-header__cta btn" href="tel:+718-799-3116">Call Now</a>
</header>
