:root {
	--bg-color: #333;
	--dark-bg-color: #212121;
	--header-color: var(--dark-bg-color);
	--footer-color: var(--dark-bg-color);
	--accent-color: #d3ae36;
	--accent-color-half-opacity: rgba(211, 174, 54, 0.5);
	--overlay-opacity: 0.5;

	--about-us-content-padding: 4rem;
	--about-us-img-height: 400px;
	--about-us-img-width: 400px;
	--about-us-img-margin: 8rem;
	--about-us-line-thickness: 2px;
	--about-us-img-padding: 2rem;

	--mobile-breakpoint: 20rem;
	--tablet-breakpoint: 48rem;
	--desktop-breakpoint: 75rem;

	--max-width: 120rem;
	--content-padding: 2rem;

	--footer-height: 8rem;
}
