:root {
	--bg-color: #333;
	--header-color: #212121;
	--footer-color: #212121;
	--accent-color: #d3ae36;
	--overlay-opacity: 0.5;

	--mobile-breakpoint: 20rem;
	--tablet-breakpoint: 48rem;
	--desktop-breakpoint: 75rem;

	--footer-height: 8rem;
}
