:root {
	--bg-color: #333;
	--dark-bg-color: #212121;
	--header-color: var(--dark-bg-color);
	--footer-color: var(--dark-bg-color);
	--accent-color: #d3ae36;
	--accent-color-half-opacity: rgba(211, 174, 54, 0.5);
	--overlay-opacity: 0.5;

	--mobile-breakpoint: 20rem;
	--tablet-breakpoint: 48rem;
	--desktop-breakpoint: 75rem;

	--footer-height: 8rem;
}
