@import url("https://fonts.googleapis.com/css?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mulish&display=swap");
:root {
  --bg-color: #333;
  --header-color: #212121;
  --footer-color: #212121;
  --accent-color: #d3ae36;
  --overlay-opacity: 0.5;
  --mobile-breakpoint: 20rem;
  --tablet-breakpoint: 48rem;
  --desktop-breakpoint: 75rem;
  --footer-height: 8rem;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MY CSS */
body {
  min-width: 20rem;
  background: #333333;
  font-size: large;
  line-height: 1.5rem;
  font-family: "Mulish", "Times New Roman", Times, serif;
  color: #fff;
  text-align: center;
}
@media (min-width: 48rem) {
  body {
    text-align: left;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 90%;
  text-transform: capitalize;
  font-family: "Italiana", "Times New Roman", Times, serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2rem;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: var(--footer-height);
}

.btn {
  background-color: var(--accent-color);
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  color: white;
}

.image-overlay {
  position: relative;
}
.image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: var(--overlay-opacity);
  z-index: 1;
}
.image-overlay > * {
  position: relative;
  z-index: 100;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.logo-head {
  text-transform: uppercase;
  font-size: xx-large;
  letter-spacing: 0.1rem;
  font-family: "Italiana", "Times New Roman", Times, serif;
  color: #fff;
}

.logo-subtitle {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: "Mulish", "Times New Roman", Times, serif;
  color: #d3ae36;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: small;
  background-color: var(--header-color);
}
.main-header__nav-items {
  margin-top: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  white-space: nowrap;
}
.main-header__nav-item--active {
  text-decoration: underline;
}
.main-header__cta {
  width: 75%;
  text-align: center;
  margin: 0rem 1rem;
}

.hero-section {
  text-align: center;
  height: 50vh;
  background-size: cover;
  padding: 1rem;
  margin-bottom: 1rem;
}
.hero-section__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.hero-section__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.full-width-section {
  text-align: center;
  height: 50vh;
  background-size: cover;
  padding: 1rem;
}
.full-width-section__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.full-width-section--short {
  height: 25vh;
}

.max-width-content {
  margin: auto auto;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 120rem;
}

.two-col-img-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.two-col-img-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.two-col-img-section > * {
  flex-basis: 100%;
}
.two-col-img-section:last-child {
  margin-bottom: 0;
}
@media (min-width: 48rem) {
  .two-col-img-section {
    flex-direction: row;
  }
  .two-col-img-section:nth-child(even) {
    flex-direction: row-reverse;
  }
  .two-col-img-section__content {
    text-align: left;
  }
}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: small;
  background-color: var(--footer-color);
}

.menu-cards-container {
  display: grid;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .menu-cards-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
}

.menu-card {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 20vh;
}

.menu-section {
  width: 100%;
  margin: 2rem 0;
}
.menu-section > :first-child {
  margin-bottom: 1rem;
}
.menu-section__grid {
  display: grid;
  gap: 2rem;
}
@media (min-width: 24rem) {
  .menu-section {
    text-align: left;
  }
  .menu-section__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 75rem) {
  .menu-section__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu-section > :first-child {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=style.css.map */